<!-- sidebar-css.html -->
<aside class="sidebar">
    <ul class="sidebar-author">
        <li class="sidebar-author__item">
            <img class="sidebar-author" src="https://raw.githubusercontent.com/imoralesdev/images/main/personal/nixcko-vector-logo-character-ad.png"/></li>
        <li class="sidebar-author__item sidebar-author__item-x2">
            <ul class="sidebar-author__card">
                <li class="sidebar-author__card-name">Israel Morales</li>
                <li class="sidebar-author__card-name">@nixckocodedesign</li>
            </ul>
        </li>
    </ul>
    <ul class="sidebar-social">
        <li class="sidebar-social__item">
            <a class="sidebar-social__url" href="/">
                <i data-feather="instagram"></i>
            </a>
        </li>
        <li class="sidebar-social__item">
            <a class="sidebar-social__url" href="/">
                <i data-feather="facebook"></i>
            </a>
        </li>
        <li class="sidebar-social__item">
            <a class="sidebar-social__url" href="/">
                <i data-feather="youtube"></i>
            </a>
        </li>
    </ul>
    <ul class="sidebar-menu">
        <li class="sidebar-menu__item sidebar-menu__item-header">Temas</li>
        <li class="sidebar-menu__item"><a href="#">...</a></li>
        <li class="sidebar-menu__item"><a href="#">...</a></li>
        <li class="sidebar-menu__item"><a href="#">...</a></li>
        <!-- Add more CSS tutorials here -->
    </ul>
</aside>
