*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.main__left {
  position: fixed;
  width: 30%;
  height: 100%;
  min-height: 150px;
  float: left;
  background-color: #115588;
  text-align: center;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
}

.main__right {
  position: relative;
  width: 70%;
  height: 100%;
  float: right;
  background-color: #ffffff;
  padding: 4%;
  font-family: 'Open Sans', sans-serif;
  color: #282B39;
}

.main__title {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  padding: 0 0 0.2em 0;
  color: #282B39;
  font-weight: 800;
}

.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1;
  color: #282B39;
}

.content > h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 1em 0;
}

.content > p {
  font-size: 16px;
  padding: 1em;
  line-height: 1.4;
}

.content__code {
  display: inline-block;
  background: hsl(1, 100%, 72%);
  padding: 0 6px;
  color: #282b39;
  font-family: monospace;
  font-size: 16px;
}

.content > ul {
  font-size: 16px;
  padding: 1em 2em;
  list-style-type: square;
}

.content > ul li {
  padding: 0 0 0.2em;
  font-size: 16px;
}
