*,
*:before,
*:after {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  background: #201e1f;
  color: #f9f9f9;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
}

body {
  border-top: solid 3px;
}

.wrapper {
  margin: auto;
  max-width: 64rem;
}

.main {
  padding: 0 10px;
}

.nav {
  padding: 40px 0;
}

.nav-logo-1 {
  color: #f9f9f9;
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-size: 34px;
}

.nav-logo-2 {
  color: #bc3345;
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
}

.hero {
  border-bottom: 1px solid;
  border-color: rgba(249, 249, 249, 0.4);
  padding: 32px 0;
}

.hero__container {
  padding: 48px 0;
  text-align: center;
}

.hero__title {
  color: #fee17d;
  font-family: "Noto Sans", sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 1;
}

.hero__content {
  margin: 24px 0 0;
}

.hero__paragraph,
.hero__paragraph--extra {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 20px 0 0;
}

.hero__paragraph--extra {
  color: #fee17d;
  font-size: 30px;
  line-height: 36px;
}

.hero__highlight {
  color: #fee17d;
}

.em-raised_hand_with_fingers_splayed {
  transform: rotate(-36deg) translateY(-16px) translateX(10px);
  width: 80px;
}

.blog-title-wrapper {
  border-bottom: 1px solid;
  border-color: rgba(249, 249, 249, 0.4);
  padding: 24px 0;
}

.blog-title > h1 {
  color: #fee17d;
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.04em;
  line-height: 1;
  text-align: center;
}

.blog,
.home {
  display: block;
}

.blog-content,
.content {
  display: grid;
  font-family: "Noto Sans", sans-serif;
  font-size: 18px;
  grid-column: span 3 / span 3;
}

.blog-content p {
  font-family: "Noto Sans", sans-serif;
  padding: 20px 0;
}

.blog-content h2 {
  color: #fee17d;
  font-family: "Noto Sans", sans-serif;
  font-size: 34px;
  font-weight: 600;
  padding: 20px 0;
}

.blog-content h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 26px;
  font-weight: 600;
  padding: 0 0 20px;
}

.home ol,
.home ul,
.blog ol,
.blog ul {
  counter-reset: circle-counter;
  list-style: none;
  padding-left: 4px;
  flex-direction: column;
  height: auto;
}

.blog-content ol li {
  counter-increment: circle-counter;
  margin-bottom: 20px;
}

.blog-content ul li {
  margin-bottom: 20px;
}

.blog-content ol li::before,
.blog-content ul li::before {
  background-color: #fee17d;
  color: black;
  content: " ";
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 0.5rem;
  position: relative;
  text-align: center;
  top: -2px;
}

.blog-content ol li::before {
  border-radius: 50%;
  content: counter(circle-counter);
  height: 24px;
  width: 24px;
}

.blog-content ul li::before {
  border-radius: 0;
  height: 10px;
  width: 10px;
}

.blog-content hr {
  border-bottom: 0.5px dotted;
  border-color: rgba(249, 249, 249, 0.4);
  margin: 50px auto;
  width: 80%;
}

.sidebar-author {
  display: flex;
  font-family: "Noto Sans", sans-serif;
  height: auto;
  padding: 26px 0 18px;
}

.sidebar-author__item-x2 {
  display: none;
}

img.sidebar-author {
  position: relative;
  margin: auto;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.sidebar-author__card {
  padding: 16px 0px 16px 10px;
}

.sidebar-menu {
  border-color: rgba(249, 249, 249, 0.4);
  border-top: 1px solid;
  font-family: "Noto Sans", sans-serif;
  padding: 10px 0 0 12px;
  text-align: center;
}

.sidebar-menu__item-header {
  letter-spacing: 0.4px;
  padding: 0 0 8px;
  text-transform: uppercase;
}

.sidebar-menu__item {
  padding: 8px 0;
}

.sidebar-menu__item a {
  color: #f9f9f9;
  display: block;
  padding: 0 0 4px;
  text-decoration: none;
}

.sidebar-menu__item a:hover {
  color: #fee17d;
  transition: 0.2s;
}

.sidebar-social {
  display: inline-block;
  margin: auto;
  padding: 0 0 14px;
  text-align: center;
  width: 100%;
}

.sidebar-social__item {
  display: inline-block;
  padding: 0 4px;
}

.sidebar-social__url svg {
  color: #f9f9f9;
}

.sidebar-author__img {
  border-radius: 50%;
  width: 30%;
  display: block;
  margin: auto;
}

.portfolio {
  margin: 0 0 40px 0;
}

.portfolio__title,
.blog-post__title {
  color: #fee17d;
  font-family: "Noto Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin: 0 0 10px 0;
}

.portfolio__grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.portfolio__card {
  background: #2f2f2f;
  border-radius: 4px;
  color: #f9f9f9;
  padding: 16px;
  text-decoration: none;
}

.portfolio__image-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.portfolio__image {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.portfolio__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.portfolio__description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
}

.blog-post {
  display: flex;
  flex-direction: column;
}

.blog-post__card {
  background: #2f2f2f;
  border-radius: 4px;
  color: #f9f9f9;
  padding: 16px;
  text-decoration: none;
  display: block;
  margin: 0 0 12px;
}

.blog-post__name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.blog-post__description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  overflow: hidden;
}

.button {
  background: #f9f9f9;
  border-radius: 4px;
  color: #201e1f;
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  margin: 12px 0 0;
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .home {
    column-gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    padding: 30px 0;
  }

  .home ol,
  .home ul,
  .blog ol,
  .blog ul {
    flex-direction: row;
  }

  .portfolio__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .sidebar-author {
    height: 122px;
  }

  img.sidebar-author {
    border-radius: 50%;
    top: -18px;
    width: 60px;
  }

  .sidebar-author__item-x2 {
    flex: 3;
    padding: 0;
    display: block;
  }

  .sidebar-author__item {
    flex: 2;
    height: 100%;
    position: relative;
    width: 100%;
  }

  .sidebar-social {
    text-align: center;
  }

  .sidebar-menu {
    text-align: left;
  }

  .sidebar-author__img {
    border-radius: 50%;
    width: 60px;
    transform: translateY(4px);
  }

  .sidebar-menu__item {
    padding: 6px 0;
  }
}
