*, *:before, *:after {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  height: 100%;
  font-weight: 400;
  font-style: normal;
  background: #18191B;
  color: #FFF;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.hero {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: min-content;
  justify-content: flex-start;
  padding: 24px;
  position: relative;
  width: 100%;
}

.hero__content {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 40px;
  height: auto;
  justify-content: flex-start;
  overflow: visible;
  padding: 198px 0 80px;
  position: relative;
  width: 100%;
  background: #111113;
}

.hero__grid {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: 100%;
  justify-content: flex-start;
  left: 0;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.hero__grid-row {
  align-items: center;
  display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.hero__grid-row-header {
    height: 60px;
    flex: none;
}

.hero__grid-row-middle {
    height: 60px;
    flex: 1 0 0px;
}

.hero__grid-top-left {
  border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 0px;
    flex: 1 0 0px;
    height: 100%;
    position: relative;
    width: 1px;
}

.hero__grid-top-center {
  border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    align-items: flex-start;
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: 100%;
    justify-content: flex-start;
    padding: 0;
    position: relative;
    width: 1080px;
}

.hero__grid-top-right {
  border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    flex: 1 0 0px;
    height: 100%;
    position: relative;
    width: 1px;
}

.hero__grid-row {
      align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: visible;
    padding: 0;
    position: relative;
    width: 100%;
}

.hero__grid-middle-left {
      border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 0px;
    flex: 1 0 0px;
    height: 100%;
    position: relative;
    width: 1px;
}

.hero__grid-middle-center {
      border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    flex: none;
    height: 100%;
    position: relative;
    width: 1080px;
}

.hero__grid-middle-right {
  border-bottom-width: 1px;
    border-color: rgba(203, 213, 225, .2);
    border-left-width: 1px;
    border-right-width: 0px;
    border-style: solid;
    border-top-width: 0px;
    flex: 1 0 0px;
    height: 100%;
    position: relative;
    width: 1px;
}

.hero__image > img {
  height: 180px;
}

.hero__canvas-container {
    width: 100%;
    height: 100%;
}

.hero__canvas {
  width: 100%;
  height: 100%;
}

.hero__image {
  z-index: 1;
}

.hero__description {
  z-index: 1;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  text-shadow: 0.04em 0.04em 0 rgba(0, 0, 0, 0.5);
}

.hero__header {
  font-size: 70px;
  text-transform: capitalize;
}

.hero__text {
    font-size: 22px;
    width: 50%;
    display: block;
    margin: auto;
}

.hero__grid-middle-pivot-top {
      flex: none;
    height: 5px;
    left: -3px;
    position: absolute;
    top: -3px;
    width: 5px;
    z-index: 1;
}

.hero__grid-middle-pivot-top::after {
    content: ' ';
      background-color: rgb(128, 131, 141);
    height: 100%;
    width: 100%;
    border-radius: 99px;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255);
    opacity: 1;
}

.content {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1;
  color: #282B39;
}

.content > h2 {
  font-size: 1.5em;
  font-weight: 600;
  padding: 1em 0;
}

.content > p {
  font-size: 16px;
  padding: 1em;
  line-height: 1.4;
}

.content__code {
  display: inline-block;
  background: hsl(1, 100%, 72%);
  padding: 0 6px;
  color: #282b39;
  font-family: monospace;
  font-size: 16px;
}

.content > ul {
  font-size: 16px;
  padding: 1em 2em;
  list-style-type: square;
}

.content > ul li {
  padding: 0 0 0.2em;
  font-size: 16px;
}



/* This applies from 600px onwards */
@media (min-width: 600px) {
  .main__left {
    position: fixed;
    width: 30%;
    height: 100%;
    min-height: 150px;
    float: left;
    background-color: #115588;
    text-align: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
  }
  
  .main__right {
    position: relative;
    width: 70%;
    height: 100%;
    float: right;
    background-color: #ffffff;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    color: #282B39;
  }
  
  .main__header {
    margin-top: 75%;
  }
}
