<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      <!-- Header content here -->
    </header>
    <div class="content-wrapper">
      {% if page.collection == "herramientas" %}
        {% include sidebar-herramientas.html %}
      {% elsif page.collection == "css" %}
        {% include sidebar-css.html %}
      {% elsif page.collection == "javascript" %}
        {% include sidebar-javascript.html %}
      {% else %}
        {% include sidebar-general.html %} <!-- A general sidebar if needed -->
      {% endif %}
      <main>
        {{ content }}
      </main>
    </div>
    <footer>
      <!-- Footer content here -->
    </footer>
  </body>
</html>
