<!-- _layouts/default.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
    <title>Nixcko | Israel Morales | Creador de contenido and Desarrollador</title>
  </head>
  <body>
    <header>
      <!-- Header content here -->
    </header>
    <div class="content-wrapper">
      {% if page.collection == "herramientas" %}
        {% include sidebar-herramientas.html %}
      {% elsif page.collection == "css" %}
        {% include sidebar-css.html %}
      {% elsif page.collection == "javascript" %}
        {% include sidebar-javascript.html %}
      {% else %}
        {% include sidebar-general.html %} <!-- A general sidebar if needed -->
      {% endif %}
      <main>
        {{ content }}
      </main>
    </div>
    <footer>
      <!-- Footer content here -->
    </footer>
  </body>
</html>
